/*inicio*/

body{
    /*color de fondo*/
    background-color: rgb(215, 154, 154);
}
main section img{
    width: 500px; /*ancho*/
    height: 300px;/*alto*/
}
header h1{
    /*centrar titulo*/
    text-align: center;
}
nav{
    text-align: center;
    letter-spacing: 50px;
    letter-spacing: 0.10em;/*espacio entre letras*/
}
footer{
    text-align: center;

}
/*
text-indent: ; mueve el navegador a la derecha
line-height: ; mueve el navegador abajo
nav a b{
    letter-spacing: 5px; espacio entre palabras
    text-decoration: none;
}

*/

 
